<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Domain -->
      <package
            uri="http://www.example.org/Domain"
            class="Domain.DomainPackage"
            genModel="model/Domain.genmodel"/>
   </extension>

</plugin>
