<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated iDSL -->
      <package
            uri="http://iDSL"
            class="n7.intern.v2.iDSL.IDSLPackage"
            genModel="model/iDSL.genmodel"/>
   </extension>

</plugin>
